@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello-c4ee9ae5/fontello.eot?98247675");
  src: url("../fonts/fontello-c4ee9ae5/fontello.eot?98247675#iefix")
      format("embedded-opentype"),
    url("../fonts/fontello-c4ee9ae5/fontello.woff2?98247675") format("woff2"),
    url("../fonts/fontello-c4ee9ae5/fontello.woff?98247675") format("woff"),
    url("../fonts/fontello-c4ee9ae5/fontello.ttf?98247675") format("truetype"),
    url("../fonts/fontello-c4ee9ae5/fontello.svg?98247675#fontello")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello-c4ee9ae5s/fontello-c4ee9ae5/fontello.svg?98247675#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart-empty:before {
  content: "\e800";
} /* '' */
.icon-github-circled:before {
  content: "\e801";
} /* '' */
.icon-calendar:before {
  content: "\e802";
} /* '' */
.icon-link:before {
  content: "\e803";
} /* '' */
.icon-th:before {
  content: "\e804";
} /* '' */
.icon-search:before {
  content: "\e805";
} /* '' */
.icon-linkedin:before {
  content: "\f0e1";
} /* '' */
.icon-terminal:before {
  content: "\f120";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-volume-control-phone:before {
  content: "\f2a0";
} /* '' */
.icon-google-plus-circle:before {
  content: "\f2b3";
} /* '' */
.icon-telegram:before {
  content: "\f2c6";
} /* '' */
.icon-comment:before {
  content: "\f4ac";
} /* '' */
/* fontell icon for project*/

/* persian font vazir*/
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir.eot");
  src: url("Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir.woff2") format("woff2"),
    url("../fonts/vazir/Vazir.woff") format("woff"),
    url("../fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*animation*/
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* style html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html,
body {
  font-size: 10px;
  font-family: Vazir;
  direction: rtl;
}

nav {
  background-color: rgb(126, 123, 110);
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row-fa {
  @extend .row;
  flex-direction: row;
}
.row80 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.row80-fa {
  @extend .row80;

  height: 100%;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

p.logo {
  font-family: cusrsive, sans-serif;
  font-size: 2.9rem;
  color: black;
  display: inline-block;
  &:first-letter {
    font-family: "Great Vibes", cursive;
    font-size: 1.8em;
  }
}
.navMenu {
  display: flex;
  flex: 2;
  justify-content: space-around;
  font-size: 1.8em;

  li {
    display: flex;
    align-items: baseline;

    & > a {
      color: cornsilk;
    }

    &:last-of-type > div {
      width: 200px;
      height: 29px;
      display: inline-block;

      input[class="searchbar"] {
        width: 100%;
        height: 100%;
        display: block;
        padding: 2px 10px;
        border-radius: 10px;
        outline: none;
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 3s linear 1;
}
